.hero {
  padding: 40px 0 40px;
  position: relative;
  &__picture{
    width: 400px;
    display: flex;
    flex-shrink: 0;
    margin-left: 40px;
  }
  &__wrapper--content{
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 160px;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }

    &--title{
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 1px solid #000;
      display: inline-block;
      font-size: 18px;
      color: #101828;
    }

    &--text{
      margin-top: 10px;
      font-size: 24px;
      font-weight: 600;
      color: #101828;
    }

    &--icon{
      margin-left: 5px;
    }
  }

  &__wrapper{
    display: flex;
    align-items: center;
    margin-top: 35px;
  }

  &__input{
    margin-right: 20px;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 20px;
  }

  @include for-tablet {
    padding: 50px 0 100px;
  }

  @include for-phone {
    padding-top: 20px;
  }

  &__container {
    position: relative;
    color: $common-color;
  }

  &__information {
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include for-laptop {
      padding: 0 30px 46px;
      width: 100%;
    }

    @include for-phone {
      padding: 0 20px 155px;
    }
  }

  &__title {
    font-size: 35px;
    line-height: 115%;
    margin-bottom: 10px;
    color: #101828;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;

    @include for-phone {
      font-size: 40px;
    }

    &_purpure {
      color: $purpure-color;
    }

    &--italic{
      font-family: 'Caveat', sans-serif;
      font-weight: 500;
      font-size: 40px;
      font-style: normal;
    }
  }

  &__text {
    &--point{
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      max-width: 600px;
      margin-bottom: 2px;
      color: #667085;
    }
    &--select{
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      max-width: 600px;
      margin-top: 15px;
      color: #000;
    }
    span{
      font-weight: 600;
    }
    color: #9e77ed;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    max-width: 500px;
    margin-bottom: 15px;

    @include for-phone {
      max-width: unset;
      font-size: 20px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    flex-shrink: 0;

    @include for-laptop {
      width: 300px;
      right: -30px;
    }

    @include for-tablet {
      width: 200px;
      right: 0px;
    }
    @include for-phone {
      width: 200px;
      bottom: -110px;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__img {
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: -80px;

    @include for-laptop {
      svg {
        width: 300px;
        height: auto;
      }
    }

    @include for-tablet {
      svg {
        width: 200px;
      }
    }

    @include for-phone {
      svg {
        width: 150px;
      }
    }
  }

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &-ellipse {
      position: absolute;
      left: 50%;
      transform: translateX(-40%);
      pointer-events: unset;
    }

    &-cloud1 {
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-200px);
    }

    &-cloud2 {
      position: absolute;
      left: 50%;
      bottom: 78px;
      transform: translateX(-30px);
    }

    &-cloud3 {
      position: absolute;
      left: 50%;
      bottom: 78px;
      transform: translateX(380px);
    }
  }
}